[project]
	description = My first repository for git demo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sagarwaghmare92
[access "refs/for/refs/*"]
	read = group user/sagarwaghmare92
	push = group user/sagarwaghmare92
	label-Code-Review = -2..+2 group user/sagarwaghmare92
	label-Verified = -1..+1 group user/sagarwaghmare92
	rebase = group user/sagarwaghmare92
	removeReviewer = group user/sagarwaghmare92
	submit = group user/sagarwaghmare92
[access "refs/heads/*"]
	read = group user/sagarwaghmare92
	create = group user/sagarwaghmare92
	push = +force group user/sagarwaghmare92
	pushMerge = group user/sagarwaghmare92
[access "refs/tags/*"]
	push = +force group user/sagarwaghmare92
	pushTag = group user/sagarwaghmare92
	pushSignedTag = group user/sagarwaghmare92
